{% extends "base.html" %}
{% block content %}
<form method="post">
  <input type="url" id="url" name="url" placeholder="enter url" class="input-block-level1" required></input><br>
  <input type="submit" value="Submit" class= "btn-danger"></input>
  </form>
{%if url%}
<a href=http://127.0.0.1:3000/{{url}}>http://127.0.0.1:3000/{{url}}</a>
{%endif%}
{%if result|length > 0%} 
<p>HISTORY</p>
<table border=1px  class="table">
<tr>
	<th>SHORT</th>
	<th>URL</th>
</tr>
{%for x in result%}
	<tr>
	
	<th><a href=http://127.0.0.1:3000/{{x.code}}>http://127.0.0.1:3000/{{x.code}}</a></th>
	<th><a href={{x.url}}>{{x.url}}</a></th>
	
	</tr>
	
{%endfor%}
</table>
{%endif%}
{% endblock %}
